* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Quahon";
  src: url(./../fonts/Quahon.otf);
}

body {
  font-family: "Quahon";
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  margin: 72px;
  width: 50%;
}

a {
  font-family: "Quahon";
  font-size: 32px;
  color: green;
  text-decoration: none;
  background-color: blanchedalmond;
  padding: 16px 65px;
  border-radius: 80px;
  border: solid 2px green;
  text-align: center;
}

a:hover {
  font-size: 32px;
  font-style: italic;
  color: green;
  text-decoration: none;
  background-color: white;
  padding: 16px 65px;
  border-radius: 80px;
  border: solid 2px white;
  text-align: center;
}
